<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <span>this is a ejs file</span>
    <p>this page has all the necessary</p>
    <%-include('./partials/nav.ejs') %>

    <p>sorry the page you are try to look for was not found</p>
    <%-include('./partials/footer.ejs') %>
  </body>
</html>
