<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <span>this is a ejs file</span>
    <p>this page has all the neccesary</p>
    <%-include('./partials/nav.ejs') %>
    <p>this page will be talking about us and what we do</p>
    <%-include('./partials/footer.ejs')  %>
  </body>
</html>
